{
  "parserOptions": {
    "ecmaVersion": 6
  },
  "env": {
    "node": true,
    "es6": true
  },
  "rules": {
    "prefer-const": [
      "error",
      {
        "destructuring": "any",
        "ignoreReadBeforeAssign": false
      }
    ],
    "arrow-body-style": [
      2,
      "as-needed"
    ],
    "curly": [
      "error",
      "all"
    ],
    "no-console": 1
  },
  "extends": [
    "standard",
    "prettier"
  ]
}
